/.vs/
/src/DLL.DT.Digital.TermoBacen.BancoDeDadosEF/bin/
/src/DLL.DT.Digital.TermoBacen.BancoDeDadosEF/obj
/src/DLL.DT.Digital.TermoBacen.Core/bin/
/src/DLL.DT.Digital.TermoBacen.Core/obj
/src/DLL.DT.Digital.TermoBacen.Dominio/bin/
/src/DLL.DT.Digital.TermoBacen.Dominio/obj
/src/DLL.DT.Digital.TermoBacen.WebAPI/bin/
/src/DLL.DT.Digital.TermoBacen.WebAPI/obj/
